<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p class="pagetext">Loewen & Partners is a specialty private equity investment banking firm.
                    We assist companies in raising private equity capital and also offer corporate finance,
                    financial restructuring and mergers and acquisitions advisory services.
                    We focus on mid-market Canadian companies, especially owner-managed and family-owned business.
                    We specialize in innovative financing structures to maximise shareholder value in all transactions,
                    including growth capital capital, recapitalizations, divestitures, buy-outs and structured exits.
                    Loewen & Partners' team of dedicated professionals have expertise in a broad base of industries,
                    along with finance, accounting, strategy and engineering. Our motto is "Integrity, Innovation, Results"
                    with integrity our core value.</p>
                    <p class="pagetext">
                    Competencies: 
                    As a focused specialist, Loewen & Partners understands the needs of mid-sized business owners and their
                    financing requirements.  With our assistance, clients have access to a significantly enhanced pool of capital
                    and are able to choose the right financing partner for them.   We are highly regarded by the private equity funds
                    and the strength of our track record ensures that our transactions receive their full attention.
                    In addition, Loewen & Partners likes to participate directly in client financings, as we believe in long
                    term relationships with our clients and also underlines our confidence that the transaction will produce
                    significantly superior company.</p>
            </div>
            <div class="col-md-5">
                <img src="/img/logo.PNG" class="img-responsive"></img>
            </div>
        </div>
    </div>
</section>