<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-md-7">
                <p class="pagetext">My name's Craig Loewen, I study Mechatronics Engineering at the University of Waterloo. I pride myself in
                    being a cross-discipline problem solver. I've worked in a wide range of industries, from automotive to
                    software, and have a wide range of skills from development to management. I enjoy designing, creating,
                    and leaving things better from where I found them. </br>
                    </br>
                    I have a strong desire for excellence. This shows through my hard work as I am ranked 1st in my class of 140+ students in
                    one of the most competitive engineering programs in Canada. I enjoy inspiring others through teamwork,
                    and as president of the Waterloo Weightlifting & Fitness Club I am able to push people to realize their
                    fitness goals. </br>
                    </br>
                    I'm a South African Canadian, and have lived in Europe, Africa, and Canada. My main hobbies are weight lifting, camping and
                    hiking.
                </p>
                <div class="text-center">
                    <button type="button" class="btn btn-primary button-space" onclick="ga('send', 'event', 'Resume', 'click', 'Resume'); location.href = '/download_src/Craig_Loewen_Resume.pdf';">My Resume</button>
                </div>
            </div>
            <div class="col-md-5">
                <img src="/img/WaterlooPhoto.jpg" class="img-responsive"></img>
            </div>
        </div>
    </div>
</section>